/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.mwd-posts-block {
    display: grid;
    gap: 20px;
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
    a {
        text-decoration: none;
    }
    .post {
        flex: 1;
    }
}
